# Class lab resources - configuration for multiple classes
# ---

# Define Lab Resources

FME2025_1_3: &FME2025_1_3
  ca-central-1:
    image_id: "ami-0f465ae4c20dfc870"
  eu-west-1:
    image_id: "ami-0ec7d29baf78d2a77"
  ap-northeast-1:
    image_id: "ami-02d869a02931ad0f8"
  ap-southeast-2:
    image_id: "ami-0b966cba38ad2a952"
    
classes:
  - class_id: "691d1c0b530c3e7c3ae85ed9"  #Copy of FME Form Advanced
    lab_resources:
      - display_name: "Lab"
        platform_type: "lab"
        image_platform: "windows"
        view_interface: "desktop"
        cloud_provider: "aws"
        aws_vm_definition:
          machine_size: "c6i.2xlarge"
          ami_region_mapping: *FME2025_1_3
          custom_username: "Administrator"
        user_data: |-
          <powershell>
          
          # === Configuration ===
          $OpenWorkspace = $true    ### Set to $false if you don't want to open the .fmw file
          $StartFolder = "C:\FMEData\Resources\FMEAccelerator"  ### This is the default folder to open in FME Workbench.
          
          $fmwURL = "https://s3.amazonaws.com/FMEData/FMEData/Resources/FMEAccelerator/FoodVendors-Start.fmw"    ### This is the URL to download the fmw from
          $fmwDIR = "C:\FMEData\Resources\FMEAccelerator"   ### This is the output folder
          $fmw =  "FoodVendors-Start.fmw"   ### Name of the workspace to open. Must match URL name
          
          $SharedConnectionsFolder = "C:\FMEData\Resources\FMEAccelerator" ### Where the shared connections database is stored
          
          #=== Do Stuff ===
          # Always download the FMW file
          $line1 = 'aria2c "{0}" --dir="{1}" --allow-overwrite=true' -f $fmwURL, $fmwDIR
          
          # Always launch Workbench, optionally open the workspace
          if ($OpenWorkspace) {
              $line2 = 'start "" /MAX "C:\Program Files\FME\FMEWorkbench.exe" "{0}\{1}" ' -f $fmwDIR, $fmw
          } else {
              $line2 = 'start "" /MAX "C:\Program Files\FME\FMEWorkbench.exe"'
          }
          
          #We do it this way because it'll handle spaces in filenames.
          $startup = @($line1, $line2)
          
          
          # Create the batch file to run automatically.
          Set-Content -Path 'C:\temp\startup.bat' -Value $startup
          
          # copy the file to the startup folder. This is so you can also run the file from c:\temp.
          Copy-Item 'c:\temp\startup.bat' "$env:APPDATA\Microsoft\Windows\Start Menu\Programs\Startup\startup.bat"
          
          # Set Starting Folder for when you open a workspace or dataset location.
          $Registry = "HKCU:\SOFTWARE\Safe Software Inc.\Feature Manipulation Engine\GUI"
          
          # Create the key if it doesn't exist
          If (-Not (Test-Path $Registry)) {
              New-Item -Path $Registry -Force
          }
          
          # Set the two registry values
          Set-ItemProperty -Path $Registry -Name "MostRecentDataPath" -Value $StartFolder
          Set-ItemProperty -Path $Registry -Name "MostRecentWorkspacePath" -Value $StartFolder
          
          # Fix the Shared Connections stuff. Terrible workaround. Unnecessary if I remember to do this when creating the AMI.
          
           $RegPath = "HKCU:\Software\Safe Software Inc.\Feature Manipulation Engine"  
          
            New-ItemProperty -Path "${RegPath}\Security" -Name "FME_SECURITY_CONNECTION_STORAGE_SHARED_DATABASE_FOLDER_PATH" -PropertyType String -Value "$SharedConnectionsFolder" -Force
            New-ItemProperty -Path "${RegPath}\Security" -Name "FME_SECURITY_CONNECTION_STORAGE_SHARED_KEY_FOLDER_PATH" -PropertyType String -Value "$SharedConnectionsFolder" -Force
          
            # Below, we can't use fme APPLY_SETTINGS as an empty-string argument is not valid
            New-ItemProperty -Path "${RegPath}\Security" -Name "FME_SECURITY_CONNECTION_STORAGE_SHARED_KEY_FOLDER_PASSWORD" -PropertyType String -Value "" -Force
          
          
          </powershell>
