# Class lab resources - configuration for multiple classes
# ---
classes:
  - class_id: "68c79e64b80e0bd8841257b4"  #FME Form Advanced
    lab_resources:
      - display_name: "Lab"
        platform_type: "lab"
        image_platform: "windows"
        view_interface: "desktop"
        cloud_provider: "aws"
        aws_vm_definition:
          machine_size: "c6i.2xlarge"
          ami_region_mapping:
            ca-central-1:
              image_id: "ami-0f465ae4c20dfc870"
            eu-west-1:
              image_id: "ami-0ec7d29baf78d2a77"
            ap-northeast-1:
              image_id: "ami-02d869a02931ad0f8"
            ap-southeast-2:
              image_id: "ami-0b966cba38ad2a952"
          custom_username: "Administrator"
